@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

body
{
    font-family: 'Lato';
}

.fa-btn
{
    margin-right: 6px;
}
.block
{
    display: block;
    height: 10px;
}

#avatar_display {
    width: 32px;
    height: 32px;;
    position: absolute;
    top: 10px;
    left: -25px;
    border-radius: 50%;
}

.img {
    width: 200px;
    height: 200px;
}
